/** {
    outline: 1px solid red !important;
}
*/
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
  display: flex;
  flex-wrap: wrap;
}

.site-wrap {
  min-width: 100px;
  max-width: 980px;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

/*header, nav, main {
  width: 100%;
}*/

header, nav, footer, section, article, div {
  box-sizing: border-box;
  width: 100%;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 *
 * Common
 * 
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  width: 74px;
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 2em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

.hamburger {
  position: fixed;
  top: 5px;
  right: 0;
}

.hamburger  svg {
  width: 45px;
  fill: #8F8F8F;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  position: fixed;
  left: 0;
  z-index: 1;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  background-color: rgba(77, 77, 86, 0.6);
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: left;
  line-height: 24px;
  padding: 14px;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: solid 1px #BCB7B7
}

.nav ul li:last-of-type {
  border-bottom: none;
}

.nav a {
  text-decoration: none;
  /*color: #616161;*/
  color: #fff;
  padding: 0.5em 2em 0.5em 0;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

/* show the menu when it has class open */
.nav.open {
  transform: translateX(0);
}
/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */

.content {
  display: flex;
  flex-wrap: wrap;
}

/*
 *
 * Hero
 *
 */

.hero {
  float: left;
  width: 100%;
  position: relative;
  background-image: url("./images/dog.jpg");
  background-size: cover;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}

/*
 *
 * Top News
 *
 */

.top-news {
  float: right;
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  width: 100%;
  float: left;
  padding-top: 1em;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em; 
}

.scores h3 {
  display: none;
}
.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  float: right;
  width: 100%;
  padding: 1em;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Weather
 *
 */

.recent-news {
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
}

/* 
add media queries
*/

/* up to 450px display a hamburger menu 
and make the drawer menu off canvas*/
@media screen and (min-width:450px) {
  #hamburger {
    display: none;
  }

  .nav {
    position: relative;
    width: 100%;
    transform: none;
    translate: none;
  }

  .nav__item {
    display: inline-block;
    width: 24%;
    line-height: 24px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 12px;
    z-index: -1;
  }

  .nav a {
    color: #616161;
    padding: 0;
  }

  .header__title {
    font-size: 3em;
  }

}

/* 
create a Layout Shifter responsive design 
*/

/* change the elements arrangement according to the screen size */
@media screen and (min-width:500px) {
  .hero {
    order: -1;
  }
  .top-news {
    width: 60%;
    order: -1;
  }

  .weather {
    width: 40%;
    order: -1;
  }  
}

@media screen and (min-width:750px) {
  body {
    font-size: 14px;
  }
  
  .nav__item {
    font-size: 14px;
  }

  .top-news {
    width: 35%;
    order: -1;
  }

  .hero {
    width: 65%;
  }
  .scores {
    order: 2;
    width: 65%;
  }
  .weather {
    width: 35%;
    order: 1;
  }
}

/* deal with  table when screen is very small and display it in rows*/
@media screen and (max-width:300px) {
  .scores h3 {
    display: block;
    width: 100%;
    background-color: #78909C;
    padding: 5px;
    color: white;
  }

  .scores__table td:nth-child(3) {
    text-align: left;
  }

  .scores__table td:nth-child(2),
  .scores__table td:nth-child(5) {
    text-align: left;
  }

  .scores__table table, thead, tbody, th, td, tr {
    display: block;
  }

  .scores__table thead tr {
    position: absolute;
    top:  - 99999px;
    left: -9999px;
  }

  .scores__table td {
      position: relative;
      padding-left: 50%;
      padding-top: 5px;
      /*margin-top: 5px;*/
  }

  .scores__table td:before {
      position: absolute;
      left: 6px;
      top: 0;
      content: attr(data-th);
      font-weight: bold;
      padding-top: 5px;
      /*margin-top: 5px;*/
  }
  .scores {
    order: 3;
  }
}

/*
change to weather arrangement
*/
@media screen and (max-width: 300px), (min-width: 500px) and (max-width: 650px), (min-width: 750px) and (max-width: 800px) {
  .weather__today img{
    width: 60px;
    font-size: 1.5em;
  }

  .weather__today span {
    font-size: 1.5em;
    text-align: right;
  }
  .weather ul {
    width: 100%;
  }
  .weather__next li {
    display: table;
    width: 100%;
    border-bottom: 1px dotted #8F8282;
  }
  .weather__next li * {
    display: table-cell;
    vertical-align: middle;
    width: 33.3%;
  }
  .weather__next li span:first-of-type{
    text-align: left;
  }
  .weather__next li span:last-of-type{
    text-align: left;
  }
}

